
h1{
    text-align: center;
    font-family: calibri;
    font-size: 25px;
    color: teal;
    padding-top: 50px;
}
p{
    font-family: calibri;
    font-size: 20px;
    color: teal;
    
    }

/* .mix{
    animation-name: flash;
      animation-duration: 0.7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      animation-play-state: running;
  }
  @keyframes flash {
      from {color: yellowgreen;}
      to {color: teal;}
  } */
nav>ul>li{
    display:inline-block;
    
}
nav>ul{
    text-align: right;
    font-family: calibri;
    font-size: 25px;
    position: fixed;
    
}
nav>ul>li>a{
    color: snow;
    padding:20px;
    text-decoration: none;
    background: teal;
    
    
}
nav>ul>li>a:hover{
    text-decoration: none;
    
}

a{
    text-decoration: none;
    color: black;
}
.footer{
    background-color:darkslategrey;
    text-align:center;
    padding: 10px;
    
}
.footer>ul>li{
    list-style-type: none;
}
ul>li{
    list-style-type: none;
}
/* #jaja{

    font-family: calibri;
    font-size: 25px;
    color: teal;
    width: 500px;
    padding-left: 700px;
} */
#mamie{
    text-align: center;
    width: 600px;

}
