html{
    height: 100%;
}
.page1{
    color: cornsilk;
    font-family: monospace;
    text-align: center;
    padding-top: 500px;
    font-size: 50px;
}
#home{
    background-image: url("https://images.pexels.com/photos/1714205/pexels-photo-1714205.jpeg");
    background-size: cover;
    height:100%;
    
}
#AboutMe{
    /* background-color: cornsilk; */
    background-image: url("https://images.pexels.com/photos/187023/pexels-photo-187023.jpeg");
    background-size: cover;
    height:100%;
    padding-top: 250px;
}
h1{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    color: teal;
    margin-bottom: 100px;
    /* margin-top: -100px; */
}
p{
    font-family: calibri;
    font-size: 25px;
    color: teal;
    
    
    }
#me{
    width: 600px;
    text-align: center;
    background-image: url("")
     
}
h2{
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    padding-top: 200px;
}
h3{
    font-size: 50px;
}
h4{
    font-family: calibri;
    font-size: 25px;
    color: teal; 
}


nav>ul>li{
    display:inline-block;
    
}
nav>ul{
    text-align: right;
    font-family: calibri;
    font-size: 25px;
    position: fixed;
    
}
nav>ul>li>a{
    color: teal;
    padding:20px;
    text-decoration: none;
    background-color: snow;
    
    
}
nav>ul>li>a:hover{
    text-decoration: none;
    
}

a{
    text-decoration: none;
    color: black;
}
    #foot>a:hover{
color: rgb(120, 236, 236);
    }
.footer{
    background-color:darkslategrey;
    text-align:center;
    color: cornsilk;
    height: 100%;
    padding-top: 300px;
    font-size: 50px;
    
}
#footer>ul>li{
    list-style-type: none;
    
}
ul>li{
    list-style-type: none;
}




#PortFolio{
background-color: cornsilk;
height:100%;
padding-top: 200px;
}
#Skills{
    height:100%;
}
button{
    background-color: teal;
    color: snow;
    padding: 10px;
}
#descr{
    font-family: calibri;
    font-size: 25px;
    color:black;
}
#contact {
    height: 100%;
    text-align: center;
    color: rgb(232, 240, 237);
    background-color: rgb(11, 99, 102);
    padding: 200px;
    font-family: monospace;
  }
  #co{
      color: cornsilk;
  }
