html{
    background-image: url("https://scontent.fkgl1-1.fna.fbcdn.net/v/t1.0-9/47486317_1420785918057558_3399335068525658112_n.jpg?_nc_cat=100&_nc_ht=scontent.fkgl1-1.fna&oh=2feb69dfef877a5aa8f12e7537a644b7&oe=5C9720B9");
    background-size: contain;
    
}
h1{
    text-align: center;
    font-family: calibri;
    font-size: 25px;
    color: teal;
    padding-top: 50px;
}
p{
    font-family: calibri;
    font-size: 25px;
    color: teal;
    width: 500px;
    padding-left: 700px;
    }

.mix{
    animation-name: flash;
      animation-duration: 0.7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      animation-play-state: running;
  }
  @keyframes flash {
      from {color: yellowgreen;}
      to {color: teal;}
  }
nav>ul>li{
    display:inline-block;
}
nav>ul{
    text-align: right;
    font-family: calibri;
    font-size: 25px;
    
}
nav>ul>li>a{
    color: teal;
    padding:20px;
    text-decoration: none;
}
nav>ul>li>a:hover{
    color: snow;
    background-color: teal;
    padding: 10px;
}
.potf{
    text-align: center;
    font-family: monospace;
    color: teal;
}
#jaja{
 text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}